/video
/polar
/test_video
/test_video_24fps
/ucf
/animalkingdom
/vector
/result
/result2
/loss
/flows
/label
/loss
/model
/x3d_output
/x3d_output_centered
/results
/optuna_study.db
/wandb
/sample_img
/sample_img_centerd
/exec/__pycache__
/exec/RAFT

